# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
.env
assets/.env
assets/images/icon.png
assets/images/adaptive-icon.png
assets/images/splash-icon.png
ios/
android/
package-lock.json
create_logo.js
proxy/server.js
proxy/.env
proxy/node_modules/
